<div id="menuList">
</div>
<input type='checkbox' id='reservation_no_menu_checkbox' name='no_menu' checked='true'> 매장에서 직접 주문 </input><p />

<label>메뉴 추가 사항</label>
<textarea id = "menu_request" ng-model="rc.menu_request"></textarea>