<!-- precondition for using bootstrap framework -->
<!doctype html>
<html>
<head>
	<title>OSHOW</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>

<div class="container">
<div class="col-sm-4 col-sm-offset-4">
	<h1>로그인</h1><br>
	  <ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#cl_login">일반 회원</a></li>
	    <li><a data-toggle="tab" href="#ow_login">사업자 회원</a></li>
	  </ul>
   
   	<!-- ------------ -->
	<!-- client login -->
	<!-- ------------ -->
    <div class="tab-content">
    <div id="cl_login" class="tab-pane fade in active">
	 <div class="row">
		<br><br>
		<p class="text-muted text-center">네이버 또는 구글 계정으로 로그인이 가능합니다.</p>
        <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="/naver-login" class="btn btn-lg btn-success btn-block">Naver</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="/google-login" class="btn btn-lg btn-danger btn-block">Google</a>
        </div>
     </div>
     <div class="login-or">
       <hr class="hr-or">
     </div>
	  
	  <!-- show any messages that come back with authentication -->
	  <% if (message.length > 0) { %>
	  <div class="alert alert-danger"><%= message %></div>
	  <% } %>
		
	  <!-- client login form -->
      <form role="form" action="/login" method="post">
      	<input type="hidden" name="member_type" value="customer">
        <div class="form-group">
          <input type="email" class="form-control" autofocus maxlength="25" name="id" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" autofocus minlength="8" name="password" placeholder="Password">
        </div>
        <div style="float:left;">
          <label class="text-muted"><input type="checkbox"> Remember me </label>
        </div>
        <div style="float:right;">
        <button type="submit" class="btn btn btn-primary">Log In</button>
        </div>
      </form>
      <br><br>
      <p class="text-right">계정이 없으시다구요? <a href="/signup">가입하기</a></p>
    </div>
    
   	<!-- ------------ -->
	<!-- owner login  -->
	<!-- ------------ -->
    <div id="ow_login" class="tab-pane fade">
	 	<br><br>
	 	<!-- show any messages that come back with authentication -->
	 	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
		<% } %>
		
      	<form role="form" action="/login" method="post">
      		<input type="hidden" name="member_type" value="owner">
      	  <div class="form-group">
        	  <input type="email" class="form-control" autofocus maxlength="25" name="id" placeholder="Email">
      	  </div>
          <div class="form-group">
         	 <input type="password" class="form-control"autofocus minlength="8" maxlength="25" name="password" placeholder="Password">
          </div>
          <div style="float:left;">
         	 <label class="text-muted"><input type="checkbox"> Remember me </label>
          </div>
          <div style="float:right;">
        	<button type="submit" class="btn btn btn-primary">Log In</button>
          </div>
      	</form>
      	<br><br>
      	<p class="text-right">계정이 없으시다구요? <a href="/signup">가입하기</a></p>
    </div>
     
    </div>
    </div>
</div>