<!doctype html>
<html>
<head>

</head>
<body>

  <div id='wrapper' style="width:300px;">
    <p>이름 : <%= rows[2] %></p>
    <p>deposit : <%= rows[0].deposit %>원</p>
    <p>메뉴 : <%= rows[1] %></p>
    <p>요청사항 : <%= rows[0].reservation_menu_request %></p>
  </div>

</body>
</html>
