<html lang="en">

<head>
	<title>aa</title>
	<meta charset="utf-8">
	<link type="text/css" href="/html/new_file.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

</head>

<body>
	<div id="picture">
		<img src="/html/79.jpg">
		<div id="table1" class="table ui-resizable ui-draggable ui-draggable-handle" style="top: 57px; left: 58px; width: 99px; height: 53px; position: absolute;" ng-click="rc.table =1">
			<p>table1</p>
		</div>
		<div id="table2" class="table ui-resizable ui-draggable ui-draggable-handle" style="top: 63px; left: 191px; width: 118px; height: 49px; position: absolute;" ng-click="rc.table =2">
			<p>table2</p>
		</div>
		<div id="table3" class="table ui-resizable ui-draggable ui-draggable-handle" style="top: 69px; left: 374px; width: 142px; height: 59px; position: absolute;" ng-click="rc.table =3">
			<p>table3</p>
		</div>
	</div>
	<script type="text/javascript" src="html/new_file.js"></script>


</body>

</html>
